<form  id="pptForm" [formGroup]="pptForm"  (ngSubmit)="createWell()" > 
  <div class="d-sm-flex align-items-center justify-content-between mb-4">
     <h1 class="h3 mb-0 text-dark">PPTS</h1>
     <button type="submit" class="d-none d-sm-inline-block btn btn-primary shadow-sm">Save</button>
  </div>
  <div class="card shadow mb-4">
     <div class="card-header p-3 d-flex align-items-center justify-content-between">
        <h6 class="m-0 text-muted w-25 pull-left font-weight-normal">Create PPT</h6>
     </div>
     <div class="card-body p-3">
        <div class="row">
           <div class="col-md-3">
              <div class="form-group">
                 <label>Name<span class="required">*</span></label>
                 <input type="text"  class="form-control"  name="name" [(ngModel)] ="pptInfo.name"  formControlName="name"  [ngClass]="{ 'is-invalid': submitted && f.name.errors }"  />
                 <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                    <div *ngIf="f.name.errors.required">Please enter name</div>
                 </div>
              </div>
           </div>
           <div class="col-md-3">
            <div class="form-group">
               <label>Upload PPT<span class="required">*</span></label>
               <input type="file" class="form-control" name="ppt_image" id="" [(ngModel)] ="pptInfo.ppt_image"  formControlName="ppt_image"  [ngClass]="{ 'is-invalid': submitted && f.ppt_image.errors }"  />
               <div *ngIf="submitted && f.ppt_image.errors" class="invalid-feedback">
                  <div *ngIf="f.ppt_image.errors.required">Please upload image</div>
               </div>
            </div>
         </div>
           <div class="col-md-3">
              <div class="form-group">
                 <label>Upload Main Image<span class="required">*</span></label>
                 <input type="file" class="form-control" name="main_image" id="" [(ngModel)] ="pptInfo.main_image" formControlName="main_image"  [ngClass]="{ 'is-invalid': submitted && f.main_image.errors }"  />
                 <div *ngIf="submitted && f.main_image.errors" class="invalid-feedback">
                    <div *ngIf="f.main_image.errors.required">Please Upload image</div>
                 </div>
              </div>
           </div>
           <div class="col-md-3">
            <div class="form-group">
               <label>Upload Thumb Image<span class="required">*</span></label>
               <input type="file" class="form-control" name="thumb_image" id="" [(ngModel)] ="pptInfo.thumb_image" formControlName="thumb_image"  [ngClass]="{ 'is-invalid': submitted && f.thumb_image.errors }"  />
               <div *ngIf="submitted && f.thumb_image.errors" class="invalid-feedback">
                  <div *ngIf="f.thumb_image.errors.required">Please upload image</div>
               </div>
            </div>
         </div>
        </div>
        <div class="row">
           <div class="col-md-12">
              <div class="form-group">
                 <label>Description<span class="required">*</span></label>
                 <textarea class="form-control" name="description" [(ngModel)]="pptInfo.description" formControlName="description"></textarea>
                 <!-- <input type="date" min="{{todatevalid}}" (keypress)="value =false"  class="form-control"  name="well_date" [ngModel]="wellInfo.well_date|date:'yyyy-MM-dd'"   (ngModelChange)="dateChange($event)" formControlName="well_date"  [ngClass]="{ 'is-invalid': submitted && f.well_date.errors }" />
                 <div *ngIf="submitted && f.well_date.errors" class="invalid-feedback">
                    <div *ngIf="f.well_date.errors.required">Please enter well start date</div>
                 </div> -->
              </div>
           </div>
       
        </div>
      
      
     </div>
  </div>
</form>